@model ACE_Driving_School.Models.Instructor

@{
    ViewBag.Title = "Instructor Description";
}
<div class="container container-wrapper" >

    <h2>@Model.FullName</h2>

    <div class="instructor-image">
        <p>image-here</p>
    </div>

    @if (Model.Current_Students.Count() == 0 || Model.Current_Students == null)
    {
        //Instructor doesnt have any current students
        <p>This instructor has no current students</p>
    }
    else //Instructor has student then print them
    {
        <p>Most Recent Passed Studenst</p>
        <table class="table table-red">
            <tr>
                <th>Students</th>
            </tr>
            @foreach (var item in Model.Current_Students)
            {
                <tr>
                    <td>@item.FullName</td>
                </tr>
            }

        </table>
    }
    <p><b id="Confirmation-Highlight">Bio:</b> @Model.Bio</p>
    @Html.ActionLink("Back","ViewAllInstructors", null, new { @class = "btn btn-red"})

</div>
