
@{
    ViewBag.Title = "Instructor Home";
}

<h2>Instructor Home</h2>

@Html.ActionLink("View Todays Lessons","TodaysLessons")
<hr />  
@Html.ActionLink("Reports","GeneratePDFReports")
<hr />
@Html.ActionLink("View All My Lessons", "ViewAllLessons", "Lesson")
<hr />
@Html.ActionLink("Mark Student As Passed", "MarkStudentsAsPassed")

