@model ACE_Driving_School.View_Models.LessonAmounts_ViewModel
@{
    ViewBag.Title = "ChooseLessonAmount";
}



@using (Html.BeginForm("ChooseLessonAmount", "Booking", FormMethod.Post, new { @class = "Choosen-Lesson-Form"}))
{
    @Html.AntiForgeryToken()
    <div class="flex-box flex-box-choosen-lesson-amount">
        <div class="box box-left box-left-lesson-amount-page">
            <div class="box-left-input"> 
                <h4>Choose Lesson Amount</h4>
                @Html.DropDownListFor(p => p.chossen_Amount, new SelectList(Model.Lesson_Amount), new { @class = "choosen-lesson-dropdown", @onchange = "GetPrice()" })
                <br />
                <button type="submit" class="btn btn-red btn-choose-Lesson">Confirm</button>
            </div>
        </div>
        
        <div class="box box-right-lesson-amount-page">
            <p>Price: <span id="price">£20</span></p>
        </div>

        <script>
            function GetPrice() {
                var price;
                var amount = document.getElementById('chossen_Amount').value;
                switch (amount) {
                    case '1':
                        var price = "£20";
                        document.getElementById('price').innerHTML = price;
                        break;
                    case '2':
                        var price = "£40";
                        document.getElementById('price').innerHTML = price;
                        break;
                    case '5':
                        var price = "£95";
                        document.getElementById('price').innerHTML = price;
                        break;
                    case '10':
                        var price = "£180";
                        document.getElementById('price').innerHTML = price;
                        break;
                    case '20':
                        var price = "£350";
                        document.getElementById('price').innerHTML = price;
                        break;
                    default:
                        var price = "";
                        document.getElementById('price').innerHTML = price;
                }
            }
        </script>
    </div>
}


