@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
} 
a:hover {
    border: 1px solid black;
    background-color: #EE1C25;
    color: white;
}
h1 {
    font-size: 40px;
    font-weight: 800;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    font-weight: 600;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
input:focus {
    outline: none;
}
.logo{
    height: 80px;
    width: 100px;
}
.right-nav{
    height: 10px;
}

.home-header {
    display: flex;
    align-items: center;
    background-color: #EE1C25;
    height: 300px;
    color: white;
    box-shadow: 0px 5px 13px #808080;

}
.home-header-slogan-heading {
    font-size: 45px;
    padding-bottom: 20px;
}
.home-header-text {
    width: 35%;
    float: right;
}

.btn-red {
    border: 1px solid black !important;
    background-color: #EE1C25;
    color: white;
    
}


.btn-black {
    border: 1px solid #EE1C25;
    background-color: black;
    color: white;
    padding: 3px 6px;
    font-weight: 700;
}
.btn-black:hover{
    background-color: transparent;
    color: white;
}

.flex-box{
    display: flex;
    flex-wrap: nowrap;
}
.flex-box .box {
    width: 50%;
    margin: 50px; 
}
.home-left-box-text {
    margin: 0 auto;
    width: 80%;
}
.home-left-box-text-link {
    color: #EE1C25;
}
.Home-Body-Heading {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

.flex-box .box-left {
    text-align: center;
}
.box-left-login-page {
    border-right: 5px solid #EE1C25;
}
table-red table, tr, th, td {
    border: 2px solid black;
    padding: 5px;
}
.table-red th {
    background-color: #EE1C25;
    color: white;
}
.table-red {
    width: 100%;
    padding: 50px;
    margin-bottom: 30px;
}


.layout-footer {
    display: flex;
}

.layout-footer p{
    padding-left: 20px;
}

.social-pages {
    width: 80%;
    display:flex;
    justify-content: flex-end;   
}
.social-image{
    height: 25px;
    width: 25px;
}
.login-form {
    text-align: left;
}
.login-form-wrapper {
    width: 50%;
    margin: 0 auto;
}
.Login-Header h2 {
    margin: 50px auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.Login-Form-Heading {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.Login-Textbox input {
    width: 70%;
    padding: 5px 10px;
    border: 1.5px solid #EE1C25;
    border-radius: 3px;
}
.Login-Button {
    margin: 10px 0;
}
.Remember-Me-Input label {
    font-weight: 600;
    padding-right: 20px;
}
.Register-As-New-User-Link{
    margin-top: 20px;
}
.Register-Form-Heading{
    margin-top: 50px;
}
.Register-Form-Heading h1 {
    font-size: 50px;
    font-weight: bold;
}
.register-form {
    padding-top: 50px;
}
.register-form h4 {
    font-size: 30px;
    font-weight: 600;
}
.register-form input {
    width: 100%;
    padding: 5px 10px;
    border: 1.5px solid #EE1C25;
    border-radius: 3px;
}

.register-form label {
    display: inherit;
    text-align: left;
}
.Register-Textbox {
    width: 40%;
    margin: 20px auto;
}
.Register-Button {
    width: 40%;
    margin: 20px auto;
}
.flex-box-choosen-lesson-amount {
    height: 80vh;
}
.box-left-lesson-amount-page {
    border-right: 5px solid #EE1C25;
}
.box-left-input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.box-left-input select, .box-left-input select :focus{
    text-align: center;
    padding: 5px 10px;
    font-size: 22px;
    outline: none;
}
.box-left-lesson-amount-page h4 {
    font-size: 40px;
    font-weight: 700;
}
.box-right-lesson-amount-page {
    display: flex;
    justify-content: center;
    align-content: center;
}
.box-right-lesson-amount-page p, #price {
    margin: auto 0;
    font-size: 60px;
    font-weight: 700;
}
.choosen-lesson-dropdown {
    width: 40%;
    border: 1.5px solid #EE1C25;
    border-radius: 5px;
}
.btn-choose-Lesson {
    margin-top: 20px;
}
.Create-Lesson-Heading {
    text-align: center;
    width: 40%;
    margin: 50px auto 20px auto;
}
.Create-Lesson-Heading h2 {
    font-size: 50px;
    font-weight: 700;
}
.Create-Lesson-Heading h4 {
    font-size: 30px;
}
.Create-Lesson-Form {
    width: 30%;
}
.form-horizontal select {
    border: 1.5px solid #EE1C25;
    font-weight: 600;
}
.form-horizontal select:focus {
    outline: none;
    border: 1.5px solid #EE1C25;
    box-shadow: 0 0 10px #EE1C25;
    
}
.form-horizontal label {
    font-size: 16px;
    padding: 0;
    padding-right: 20px;
}
.payment-container {
    margin-top: 40px;
}
.payment-container h2 {
    font-size: 40px;
    font-weight: 700;
}
.payment-wrapper label{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    
}
.payment-wrapper span {
    padding-left: 5px;
    font-size: 15px;
}
.dl-horizontal-payment dt{
    text-align: left;
    width: auto;
}
.dl-horizontal-payment dd {
    width: 10%;
}
#edit-Lesson-Link {
    color: black;
}
#edit-Lesson-Link:hover {
    background-color: transparent;
    border: none;
    color: #EE1C25;
    text-decoration: underline;
}
.container-wrapper {
    margin-top: 60px;
}
.Booking-Confirmation h1{
    font-size: 40px;
    font-weight: 700;
}
.Booking-Confirmation h2 {
    font-size: 32px;
    font-weight: 600;
}
.Booking-Confirmation h3 {
    font-size: 26px;
    font-weight: 500;
}
#Confirmation-Highlight {
    color: #EE1C25;
}
#ViewAllBookingLink {
    text-align: center;
    font-size: 32px;
}
#ViewBookingHeading {
    font-size: 40px;
    font-weight: 700;
}
.view-booking-wrapper label{
    padding-bottom: 5px;
}
.view-lesson-wrapper label{
    padding-bottom: 5px;    
}
.view-lesson-wrapper h2 {
    font-size: 32px;
    font-weight: 700;
}
.view-lesson-instructor-note-wrapper h2{
    font-size: 32px;
    font-weight: 700;
}
.edit-lesson-container {
    width: 40%;
}